{% extends 'serviceFront.html.twig' %}
{%block rech%}
	<div class="modal fade" id="myModal17" tabindex="-1" aria-labelledby="myModal18" aria-hidden="true">
			{%for serv in service%}
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header border-0">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="row modal-body">
					<div class="col-md-5 modal_body_left">
						<img src="{{ 'uploads/' ~ serv.image }}"  alt=" " class="img-fluid" />
					</div>
					<div class="col-md-7 modal_body_right">
						<h4>{{ serv.getNom() }}</h4>
						<p>{{ serv.getDescription() }}</p>
						<div class="rating">
							<div class="rating-left">
								<img src="front/images/star-.png" alt=" " class="img-fluid" />
							</div>
							<div class="rating-left">
								<img src="front/images/star-.png" alt=" " class="img-fluid" />
							</div>
							<div class="rating-left">
								<img src="front/images/star-.png" alt=" " class="img-fluid" />
							</div>
							<div class="rating-left">
								<img src="front/images/star.png" alt=" " class="img-fluid" />
							</div>
							<div class="rating-left">
								<img src="front/images/star.png" alt=" " class="img-fluid" />
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="modal_body_right_cart simpleCart_shelfItem">
							<p> <i class="item_price">{{ serv.getLocalisation() }}</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="w3ls_item" value="Red Chilli Powder">
								<input type="hidden" name="amount" value="180.00">
								<button type="submit" class="w3ls-cart">Add to cart</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor%}
	
	
<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->
 
</div>
{%endblock%}