{% extends 'base.html.twig' %}

{% block title %}New Reclamation{% endblock %}

{% block body %}
    <h1>Create new Reclamation</h1>

   

   

{% endblock %}
{% block form %}
<div class="contact-form">
            <h5>
            RECLAMATION
            </h5>

            {{ form_start(formUpdate) }}
               {{ form_widget(formUpdate) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
           {{ form_end(formUpdate) }}
         </div >

      {% endblock %}