

<h4>Hello {{ user.nom }} {{ user.prenom }},</h4>

<p>Thank you for signing up for SustainabilityHub! To verify your email address, please click on the following link:</p>

<a href="{{ verificationLink }}">{{ verificationLink }}</a>
{# </br> #}
<p>If you did not sign up for SustainabilityHub, please ignore this email.</p>

Best regards,

The SustainabilityHub Team