<!DOCTYPE html>
<!-- saved from url=(0049)file:///C:/Users/Asus/Desktop/pi/tempfront/event.html -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Basic -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Site Metas -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>sustainability hub</title>
    {% block stylesheets %}
    {% endblock %}
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/tempfront/css/bootstrap.css">
    <!-- fonts style -->
    <link href="/tempfront/css/css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/tempfront/css/style.css" rel="stylesheet">
    <!-- responsive style -->
    <link href="/tempfront/css/responsive.css" rel="stylesheet">

</head>

<body class="sub_page">
<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="file:///C:/Users/Asus/Desktop/pi/tempfront/index.html">
                    <h3>
                        sustainability
                    </h3>
                    <span> HUB</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
                    <ul class="navbar-nav  ml-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="file:///C:/Users/Asus/Desktop/pi/tempfront/index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="file:///C:/Users/Asus/Desktop/pi/tempfront/about.html"> About </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="file:///C:/Users/Asus/Desktop/pi/tempfront/course.html"> Courses </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="file:///C:/Users/Asus/Desktop/pi/tempfront/event.html"> Events </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="file:///C:/Users/Asus/Desktop/pi/tempfront/contact.html">Contact us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="file:///C:/Users/Asus/Desktop/pi/tempfront/login.html">Login</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                        <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                    </form>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
</div>

<!-- event section -->
<section class="event_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h3>
                Events
            </h3>
            <p>
                available events come join us   </p>
        </div>
        {%block body %}

        {% endblock %}


        {#  <div class="btn-box">#}
        {#   <a href="file:///C:/Users/Asus/Desktop/pi/tempfront/event.html">#}
        {#    participate#}
        {#   </a>#}
        {#  </div>#}
         </div>
</section>

<!-- end event section -->

<!-- info section -->
<section class="info_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="info_menu">
                    <h5>
                        QUICK LINKS
                    </h5>
                    <ul class="navbar-nav  ">
                        <li class="nav-item active">
                            <a class="nav-link" href="file:///C:/Users/Asus/Desktop/pi/tempfront/index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="file:///C:/Users/Asus/Desktop/pi/tempfront/about.html"> About </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="file:///C:/Users/Asus/Desktop/pi/tempfront/course.html"> Courses </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="file:///C:/Users/Asus/Desktop/pi/tempfront/event.html"> Events </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="file:///C:/Users/Asus/Desktop/pi/tempfront/contact.html">Contact us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="file:///C:/Users/Asus/Desktop/pi/tempfront/login.html">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info_course">
                    <h5>
                        TOP RATED COURSE
                    </h5>
                    <p>
                        There are many variations of passages of Lorem Ipsum available,
                        but the majority have suffered alteration in some form, by
                        injected humou
                    </p>
                </div>
            </div>

            <div class="col-md-5 offset-md-1">
                <div class="info_news">
                    <h5>
                        FOR ANY QUERY, PLEASE WRITE TO US
                    </h5>
                    <div class="info_contact">
                        <a href="file:///C:/Users/Asus/Desktop/pi/tempfront/event.html">
                            Location
                        </a>
                        <a href="file:///C:/Users/Asus/Desktop/pi/tempfront/event.html">
                            demo@gmail.com
                        </a>
                        <a href="file:///C:/Users/Asus/Desktop/pi/tempfront/event.html">
                            Call : +01 1234567890
                        </a>
                    </div>
                    <form action="file:///C:/Users/Asus/Desktop/pi/tempfront/event.html">
                        <input type="text" placeholder="Enter Your email">
                        <button>
                            Subscribe
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end info section -->

<!-- footer section -->
<footer class="container-fluid footer_section">


</footer>
<!-- footer section -->

<script type="text/javascript" src="/tempfront/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/tempfront/js/bootstrap.js"></script>



</body></html>